@if ( showDeleteUserModal() ) {
<div role="dialog" aria-modal="true" class="fixed inset-0 flex items-center justify-center bg-foreground/50">
  <div class="bg-background rounded-default shadow-lg max-w-lg w-full p-6 relative">
    <button type="button" class="absolute top-4 right-4 focus:outline-none" aria-label="Close modal"
      (click)="closeDeleteAccountModal()">
      <ng-icon name="lucideX" size="24" />
    </button>

    <div>
      <p class="title-2 text-danger leading-none mb-1">Delete your account</p>
      <p class="mb-4">Are you sure you want to delete your account? This action cannot be undone.</p>

      <div class="flex items-center justify-end gap-2">
        <button type="button" class="button-tertiary" (click)="closeDeleteAccountModal()">Cancel</button>
        <button type="button" class="button-primary bg-danger" (click)="deleteUser()">Delete</button>
      </div>
    </div>
  </div>
</div>
}