<main class="h-full max-h-screen overflow-hidden  flex items-center justify-center relative
      before:content-[''] before:w-4xl before:h-[500px] before:bg-blue/40 before:rounded-full before:blur-3xl before:absolute before:-bottom-64 before:-left-64 before:rotate-24
      after:content-[''] after:w-4xl after:h-[500px] after:bg-accent/40 after:rounded-full after:blur-3xl after:absolute after:-top-64 after:-right-64 after:rotate-24
">
  <section class="relative w-fit flex flex-col items-center justify-center">
    <div class="flex flex-col gap-2 items-center mb-8">
      <h1 class="text-4xl">Sign up</h1>
      <p>Don't have an account? Don't worry, it just takes a minute to do one!</p>
    </div>
    <form class="flex flex-col gap-5 w-[350px]" [formRoot]="signupForm">
      <label for="username" class="flex flex-col">
        <span class="sr-only">Username</span>
        <input type="text" id="username" [formField]="signupForm.username" class="input" placeholder="Username">

        @if (signupForm.username().invalid() && signupForm.username().touched()) {
        <div class="flex flex-col gap-1 text-danger">
          <ul>
            @for (error of signupForm.username().errors(); track error) {
            <li class="text-sm">{{ error.message }}</li>
            }
          </ul>
        </div>
        }
      </label>

      <label for="email" class="flex flex-col gap-2">
        <span class="sr-only">Email</span>
        <input type="email" id="email" [formField]="signupForm.email" class="input" placeholder="Email">

        @if (signupForm.email().invalid() && signupForm.email().touched()) {
        <div class="flex flex-col gap-1 text-danger">
          <ul>
            @for (error of signupForm.email().errors(); track error) {
            <li class="text-sm">{{ error.message }}</li>
            }
          </ul>
        </div>
        }
      </label>

      <label for="password" class="flex flex-col gap-2">
        <span class="sr-only">Password</span>
        <input type="password" id="password" [formField]="signupForm.password" class="input" placeholder="Password">

        @if (signupForm.password().invalid() && signupForm.password().touched()) {
        <div class="flex flex-col gap-1 text-danger">
          <ul>
            @for (error of signupForm.password().errors(); track error) {
            <li class="text-sm">{{ error.message }}</li>
            }
          </ul>
        </div>
        }
      </label>

      @if (signupError()) {
      <div class="text-danger" role="alert">
        {{ signupError() }}
      </div>
      }

      <button type="submit" [disabled]="signupForm().submitting()" class="button-primary dark:text-foreground">
        @if (signupForm().submitting()) {
        Sending...
        } @else {
        Sign up
        }
      </button>
    </form>
    <p class="mt-2">Already have an account? <a routerLink="/sign-in"
        class="text-blue dark:text-foreground underline hover:no-underline">Let's
        sign in!</a></p>
  </section>
</main>