<main class="custom-grid h-full flex items-center justify-center">
  <section class="relative w-fit p-8
              flex flex-col items-center justify-center gap-4
              bg-background border border-accent rounded-default
  ">
    <div class="flex flex-col gap-2 items-center">
      <h1 class="text-4xl">Signup</h1>
      <p>Don't have an account ? Don't worries, it just take a minute to do one !</p>
    </div>
    <form class="flex flex-col gap-2 w-[350px]" [formRoot]="signupForm">
      <label for="username" class="flex flex-col">
        <span class="mb-2">Username</span>
        <input type="text" id="username" [formField]="signupForm.username" class="input" placeholder="JohnDoe">

        @if (signupForm.username().invalid() && signupForm.username().touched()) {
        <div class="flex flex-col gap-1 text-danger">
          <p>Username has validation errors:</p>
          <ul>
            @for (error of signupForm.username().errors(); track error) {
            <li class="text-sm">{{ error.message }}</li>
            }
          </ul>
        </div>
        }
      </label>

      <label for="email" class="flex flex-col gap-2">
        <span>Email</span>
        <input type="email" id="email" [formField]="signupForm.email" class="input" placeholder="johndoe@mail.fr">

        @if (signupForm.email().invalid() && signupForm.email().touched()) {
        <div class="flex flex-col gap-1 text-danger">
          <p class="error">Email has validation errors:</p>
          <ul>
            @for (error of signupForm.email().errors(); track error) {
            <li class="text-sm">{{ error.message }}</li>
            }
          </ul>
        </div>
        }
      </label>

      <label for="password" class="flex flex-col gap-2">
        <span>Password</span>
        <input type="password" id="password" [formField]="signupForm.password" class="input" placeholder="*********">

        @if (signupForm.password().invalid() && signupForm.password().touched()) {
        <div class="flex flex-col gap-1 text-danger">
          <p class="error">Password has validation errors:</p>
          <ul>
            @for (error of signupForm.password().errors(); track error) {
            <li class="text-sm">{{ error.message }}</li>
            }
          </ul>
        </div>
        }
      </label>

      <button type="submit" [disabled]="signupForm().submitting()" class="button-primary">
        @if (signupForm().submitting()) {
        Sending...
        } @else {
        Confirm
        }
      </button>
    </form>
  </section>
</main>