<aside class="block flex flex-col gap-5 w-full h-full min-w-3xs max-w-xs">
  <nav>
    <ul class="flex flex-col gap-2 pb-4 border-b border-b-accent">
      <li>
        <a routerLink="/dashboard"
          class="py-2 px-3 rounded-default flex items-center gap-3 hover:bg-foreground/20 transition-all">
          <ng-icon name="lucideHome" size="20" />
          <span>Home</span>
        </a>
      </li>
      <li>
        <a routerLink="#"
          class="py-2 px-3 rounded-default flex items-center gap-3 hover:bg-foreground/20 transition-all">
          <ng-icon name="phosphorSuitcaseBold" size="20" />
          <span>My work</span>
        </a>
      </li>
    </ul>
  </nav>

  <nav class="flex flex-col gap-3 h-full pb-5 border-b border-b-accent">
    <div class="py-3 px-4 rounded-default flex items-center gap-3 bg-background-50">
      <button type="button" class="w-full flex items-center justify-between gap-5 text-foreground cursor-pointer">
        <div class="flex items-center gap-3">
          <ng-icon name="lucideFolder" size="24" />
          <span class="leading-none">Project 1</span>
        </div>

        <ng-icon name="lucideChevronUp" size="20" />
      </button>
    </div>

    <div class="py-3 px-4 rounded-default flex flex-col items-center gap-4 bg-background-50">
      <button type="button" class="w-full flex items-center justify-between gap-5 text-foreground cursor-pointer">
        <div class="flex items-center gap-3">
          <ng-icon name="lucideFolderOpen" size="24" />
          <span class="leading-none">Project 2</span>
        </div>

        <ng-icon name="lucideChevronDown" size="20" />
      </button>

      <ul class="w-full flex flex-col gap-2.5">
        <li>
          <a routerLink="#" class="pl-6 flex items-center justify-between gap-5">
            <p
              class="flex items-center gap-2.5 before:block before:w-4 before:h-4 before:border-3 before:border-red-600 before:rounded-full">
              Website</p>

            <span
              class="bg-background p-1 leading-none rounded-xs min-w-[25px] flex justify-center items-center">12</span>
          </a>
        </li>
        <li>
          <a routerLink="#" class="pl-6 flex items-center justify-between gap-5">
            <p
              class="flex items-center gap-2.5 before:block before:w-4 before:h-4 before:border-3 before:border-green-600 before:rounded-full">
              Mobile app</p>

            <span
              class="bg-background p-1 leading-none rounded-xs min-w-[25px] flex justify-center items-center">5</span>
          </a>
        </li>
        <li>
          <a routerLink="#" class="pl-6 flex items-center justify-between gap-5">
            <p
              class="flex items-center gap-2.5 before:block before:w-4 before:h-4 before:border-3 before:border-blue-600 before:rounded-full">
              Communication</p>

            <span
              class="bg-background p-1 leading-none rounded-xs min-w-[25px] flex justify-center items-center">5</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="py-3 px-4 rounded-default flex items-center gap-3 bg-background-50">
      <button type="button" class="w-full flex items-center justify-between gap-5 text-foreground cursor-pointer">
        <div class="flex items-center gap-3">
          <ng-icon name="lucideFolder" size="24" />
          <span class="leading-none">Project 3</span>
        </div>

        <ng-icon name="lucideChevronUp" size="20" />
      </button>
    </div>

    <div class="py-3 px-4 rounded-default flex items-center gap-3 bg-background-50">
      <a routerLink="#" class="w-full flex items-center justify-between gap-5">
        <p
          class="flex items-center gap-2.5 before:block before:w-4 before:h-4 before:border-3 before:border-blue-600 before:rounded-full">
          Portfolio</p>

        <span class="bg-background p-1 leading-none rounded-xs min-w-[25px] flex justify-center items-center">8</span>
      </a>
    </div>
  </nav>

  <nav>
    <ul class="flex flex-col gap-2">
      <li>
        <a routerLink="#"
          class="py-2 px-3 rounded-default flex items-center gap-3 hover:bg-foreground/20 transition-all">
          <ng-icon name="lucideUsersRound" size="20" />
          <span>Space members</span>
        </a>
      </li>
      <li>
        <a routerLink="#"
          class="py-2 px-3 rounded-default flex items-center gap-3 hover:bg-foreground/20 transition-all">
          <ng-icon name="lucideSettings" size="20" />
          <span>Space settings</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>