@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Zain';
  font-weight: 400;
  src:
    local('Zain'),
    url(./assets/fonts/Zain/Zain-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Syne';
  font-weight: 400;
  src:
    local('Syne'),
    url(./assets/fonts/Syne/Syne-Regular.ttf) format('truetype');
}

:root {
  --background: #fff5f5;
  --background-50: #e5edf7;
  --foreground: #0f1a29;
  --foreground-50: #28456d;
  --blue: #1f2ff2;
  --accent: #005aff;
  --danger: #b12828;
  --app-radius: 8px;
}

.dark {
  --background: #0f1a29;
  --background-50: #28456d;
  --foreground: #f5f9ff;
  --foreground-50: #e5edf7;
  --danger: #ff4847;
}

@theme inline {
  --color-background: var(--background);
  --color-background-50: var(--background-50);
  --color-foreground: var(--foreground);
  --color-foreground-50: var(--foreground-50);
  --color-blue: var(--blue);
  --color-accent: var(--accent);
  --color-danger: var(--danger);
  --radius-default: var(--app-radius);
  --animate-loader: loader 1.6s linear infinite;
  @keyframes loader {
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  html,
  body {
    height: 100%;
  }

  html {
    background-color: var(--background);
  }

  body {
    color: var(--foreground);
    font-family: 'Syne', Arial, Helvetica, sans-serif;
  }

  h1,
  h2,
  h3,
  .title-1,
  .title-2,
  .title-3 {
    font-weight: 400;
    font-family: 'Zain', Arial, Helvetica, sans-serif;
  }

  h1,
  .title-1 {
    font-size: var(--text-3xl);
  }

  h2,
  .title-2 {
    font-size: var(--text-2xl);
  }

  h3,
  .title-3 {
    font-size: var(--text-xl);
  }

  .small-text {
    font-size: 0.875rem;
  }

  .block {
    border-radius: var(--app-radius);
    background-color: var(--background);
    padding: 0.75rem;
  }
}

@layer components {
  /* Custom input */
  .input {
    padding: 0.5rem 1.1rem;
    border-radius: var(--app-radius);
    border: 1px solid color-mix(in srgb, var(--foreground) 40%, transparent);
  }

  .input:focus {
    border-width: 2px;
    outline: 0;
    border-color: var(--accent);
  }

  input::placeholder {
    color: var(--foreground);
    opacity: 0.6;
  }

  /* ---------- Button ---------- */
  .button-primary {
    padding: 0.5rem 1.1rem;
    border-radius: var(--app-radius);
    background-color: var(--blue);
    color: var(--background);
    transition: all 0.3s ease-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .button-primary:hover {
    background-color: var(--accent);
  }
}
